/*

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*/

@font-face {
  font-family: notosans;
  src: url(./font/NotoSans-VariableFont_wdth\,wght.ttf);
  /* 
  src: url(./font/NotoSans-VariableFont_wdth\,wght.ttf); there should be a comma after wdth\ 
  */
}

* {
  /* font-family: "Noto Sans", sans-serif; */
  font-family: notosans, sans-serif;
  font-weight: 200;
}
body {
  margin: 0;
  background-color: #545454;
}
footer {
  height: 0;
  display: none;
}
.heading {
  font-size: 4rem;
  font-weight: 100;
  color: white;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  /* background-color: rgb(128, 128, 128); ida scudder grey*/
  background-color: #3b3b3b;
  /* background: linear-gradient(45deg, #858585, #565656); */
  margin: 1rem;
  border-radius: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  height: 75vh;
}
.button-div {
  border: none;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b3b3b;
  color: white;
  width: 30rem;
  height: 20rem;
  border-radius: 15px;
  transition: all 0.2s ease;
}
.button-div:hover {
  background-color: #b5b5b5;
  color: black;
  transition: all 0.2s ease;
}

.button-div:active {
  background-color: rgb(96, 230, 92);
  transition: all 0.1s ease;
}

.subtext {
  margin: 0 auto;
  font-weight: 200;
  font-size: 2.5rem;
}
.button-link {
  text-decoration: none;
}
